.lobby{

    position: relative;

    padding: 40px;
}
.lobby .back-btn{
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 13px;
    top: 10px;
}
.lobby .back-btn img{
    width: 30px;
    height: 30px;
}
.lobby .info{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;

}
.lobby .info > *{
    margin: 0 10px;

}
.lobby h1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 250%;
    margin: 0 0 35px 0;
}
.lobby h1 button{
    box-shadow: none;
    padding: 2px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.lobby h1 img{
    width: 25px;
    height: 25px;

}
.lobby .connected-players{
    flex: 0 1 auto;
    background-color: rgba(32, 32, 32, 0.25);
    padding: 10px;
    border-radius: 10px;
    max-width: 250px;

}
.lobby .connected-players h3{
    margin: 10px 0;
    text-decoration: underline;

    /*font-weight: normal;*/
}

.lobby .connected-players ul{
    list-style: none;
    padding: 0;
}
.lobby .connected-players ul li{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.lobby .connected-players ul li span{
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lobby .connected-players ul li button{
    box-shadow: none;
    padding: 5px 10px;
    font-size: 13px;
    background-color: rgba(35, 35, 35, 0.64);
    border-radius: 3px;
    margin-left: 10px;

}
.lobby .connected-players ul li.me{
    /*text-decoration: underline;*/
}
.lobby .connected-players ul li.me::before{
    content: "(You)";
    /*text-decoration: transparent !important;*/
    font-style: italic;
    color: #868686;
    margin-right: 5px;
}

.lobby .host-controls .start-btn{
    margin-top: 15px;
    position: relative;

}

.lobby .settings{
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
    /*width: 50%;*/
    margin: 0 10px 30px 10px;
}

.lobby .settings h2{
    margin: 5px;
    font-size: 170%;
}
.lobby .settings-categories{
    text-align: left;
}
.lobby .settings-categories h3{
    font-size: 130%;
    font-weight: normal;
    margin: 0;
    text-decoration: underline;
}
.lobby .settings-inner{
    background-color: rgba(18,18,18,0.14);
    padding: 5px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}
.lobby .settings-inner ul li{
    margin: 0 0 15px 0;
    text-align: center;
}
.lobby .settings-inner ul li:last-child{
    margin: 0;
}
