.lobby{

    background-color: var(--theme-color);
    border-radius: 10px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2),
    10px 18px 10px 0 rgba(0, 0, 0, 0.19);
    padding: 35px;
    position: relative;


}
.lobby .back-btn{
    padding: 0;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 13px;
    top: 10px;
}
.lobby .back-btn img{
    width: 30px;
    height: 30px;
}
.lobby .info{
    display: flex;
    flex-flow: row;

}
.lobby .info > *{
    margin: 0 10px;
}
.lobby h1{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}
.lobby h1 button{
    box-shadow: none;
    padding: 2px;
    margin-left: 10px;
}
.lobby h1 img{
    width: 22px;
    height: 22px;

}
.lobby .connected-players{
    background-color: rgba(32, 32, 32, 0.25);
    padding: 10px;
    border-radius: 10px;
    max-width: 250px;

}
.lobby .connected-players h3{
    margin: 10px 0;
    text-decoration: underline;

    /*font-weight: normal;*/
}

.lobby .connected-players ul{
    list-style: none;
    padding: 0;
}
.lobby .connected-players ul li{
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.lobby .connected-players ul li span{
    flex: 0 1 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.lobby .connected-players ul li button{
    box-shadow: none;
    padding: 5px 10px;
    font-size: 13px;
    background-color: rgba(35, 35, 35, 0.64);
    border-radius: 3px;
    margin-left: 10px;

}
.lobby .connected-players ul li.me{
    /*text-decoration: underline;*/
}
.lobby .connected-players ul li.me::before{
    content: "(You)";
    /*text-decoration: transparent !important;*/
    font-style: italic;
    color: #868686;
    margin-right: 5px;
}

.lobby .settings{
    display: flex;
    flex-flow: column;
}
.lobby .host-controls .start-btn{
    margin-top: 15px;
}
