.main-menu input[type=text] {
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 22px;
    background-color: rgba(64, 64, 64, 0.68);
    padding: 10px 15px;
    text-align: center;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2),
    6px 10px 10px 0 rgba(0, 0, 0, 0.19);

}

.main-menu input[type=text]::placeholder {
    color: darkgrey;
}

.main-menu button {
    color: white;
    font-size: 22px;
    border: none;
    border-radius: 3px;
    background-color: #bd0066;
    padding: 10px 15px;
    cursor: pointer;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2),
    6px 10px 10px 0 rgba(0, 0, 0, 0.19);
}

.main-menu .combo {
    display: flex;
    flex-flow: row;
    align-items: center;
    width: 100%;
}

.main-menu .combo input {
    flex: 0 1 auto;
}

.main-menu .combo button {
    flex: 1 1 auto;
    margin-left: 3px;

}

.combo.join input {

}

.main-menu .game-select {
    margin-top: 30px;
}

.main-menu .game-select h3 {
    color: white;
    font-size: 22px;
}

.main-menu .game-select .host {
    width: 100%;
    margin-bottom: 10px;
}

.main-menu .game-select .host button {
    background-color: #0bc460;
    width: 100%;

}

/* NOT CONNECTED */

.main-menu .loading {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.main-menu .loading span {
    font-size: 23px;
    margin-left: 15px;
}



.ip-address-template-input{
    position: absolute;
    right: 10px;
    bottom: 10px;

}
.ip-address-template-input input{
    font-size: 22px;
    text-align: center;
    background-color: #a1a1a1;
    border: 2px solid grey;
    border-radius: 5px;
    width: 200px;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2);

}
